<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Position in OrgChart</h4>
    </div>
    <div class="modal-body">

        <div class="" id="fUser">
            <div class="form-group row">
                <label class="col-md-4 control-label">Name</label>
                <div class="col-md-8">
                    @Html.DropDownList("Rol", null, new { @class = "form-control selectpicker", @title = "Select Rol", @id = "dd_rol", @required = "required" })
                </div>
            </div>
           

        </div>
        <div class="form-group row" id="dUser">

            <div class="col-md-12" id="iUser" style="margin-top: 10px;color: #999999;" align="left">
                <i class="fa fa-minus"></i>&nbsp;Without&nbsp;User
            </div>

        </div>
        <div class="form-group row hidden" id="fTitle">
            <label class="col-md-4 control-label">Name</label>
            <div class="col-md-8">
                @Html.TextBox("TitlePosition", null, new { @class = "form-control", @id = "txt_title", @required = "required" })
            </div>
        </div>
        <div id="dv_SuperiorPosition" class="form-group row">
            <label class="col-md-4 control-label">Reports To</label>
            <div class="col-md-8">
                @Html.DropDownList("SuperiorPosition", null, new { @class = "form-control selectpicker", @title = "Select Position", @id = "dd_superiorPosition" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 control-label">Line</label>
            <div class="col-md-8">
                @Html.DropDownList("Line", null, new { @class = "form-control selectpicker", @id = "dd_line", @title = "Select Line", @required = "required" })
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" id="btnSave" onclick="editPosition(id_department=@ViewBag.Department,level= @ViewBag.Level, id = @ViewBag.Id)" class="btn buttonSave">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>

<script type="text/javascript">
    $('.selectpicker').selectpicker();

    loadInfo();

     @*$('#dd_rol').on("change",function ()  {
            var load_user = '@Url.Action("getuser", "Users")';
            var idrol = $('#dd_rol').val();
            $.ajax({
                type: "POST",
                url: load_user,
                data: {
                    RolId: idrol,
                },
                success: function (data) {

                    var options = [], _options;
                    $('#dd_user').empty();
                    $.each(data, function (key, item) {
                        var option = '<option value="' + item.id + '">' + item.name + '</option>';
                        options.push(option);
                    });
                    _options = options.join('');
                    $('#dd_user')[0].innerHTML = _options;
                    $("#dd_user").selectpicker('refresh');


                },
                error: function (jqXHR, errorThrown) {

                    console.log(load_position + " jqXHR: " + jqXHR);
                    console.log("errorThrown: " + errorThrown);
                }
            });

     });*@

     $('#dd_rol').on("change",function ()  {
            var load_title = '@Url.Action("getrole", "Users")';
            var idrol = $('#dd_rol').val();
            $.ajax({
                type: "POST",
                url: load_title,
                data: {
                    RolId: idrol,
                },
                success: function (data) {

                    if (data != null) {
                        $('#txt_title').val('');
                        $('#txt_title').val(data);
                    }

                },
                error: function (jqXHR, errorThrown) {

                    console.log(load_position + " jqXHR: " + jqXHR);
                    console.log("errorThrown: " + errorThrown);
                }
            });

     });

    $('#dUser').click(function () {
        if ($('#fUser').hasClass('hidden')) {
            $('#fUser').removeClass('hidden');
            $('#fTitle').addClass('hidden');
            $('#iUser').empty();
            $('#iUser').append("<i class='fa fa-minus'></i>&nbsp;Without&nbsp;User");
        }
        else {
            $('#fUser').addClass('hidden');
            
            $('#fTitle').removeClass('hidden');
            $('#iUser').empty();
            $('#iUser').append("<i class='fa fa-plus'></i>&nbsp;With&nbsp;User");
        }
    });

    function loadInfo() {
        var id = '@ViewBag.Id';
        var idrol = '@ViewBag.RolId';
        if (id == '0') {
            $('#dv_SuperiorPosition').addClass('hidden');
        }

        if (idrol == '0') {
            $('#fUser').addClass('hidden');

            $('#fTitle').removeClass('hidden');
            $('#iUser').empty();
            $('#iUser').append("<i class='fa fa-plus'></i>&nbsp;With&nbsp;User")
        }
    }
</script>
